{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-latest" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
	 {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
     {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
		<div class="alert alert-info"><i class="fa fa-info-circle"></i>  {{ ecom_cron }}&emsp;<br><b>* * * * * wget -q --spider {{ cron }}</b></div>
	  
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-latest" class="form-horizontal">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#tab_sale" data-toggle="tab">{{ ecom_settings }}</a>
			</li>
			<li>
				<a href="#tab_about" data-toggle="tab">{{ ecom_about }}</a>
			</li>
			 
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab_sale">
			
				
				
				<br>
				<h3 class="panel-title">{{ ecom_connection }}</h3>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-url">{{ entry_url }}</label>
					<div class="col-sm-10">
					  <input type="text" name="module_ecomkassa_url" value="{{ url }}" placeholder="{{ entry_url }}" id="input-url" class="form-control" />
					  {% if error_url %}  
					  <div class="text-danger">{{ error_url }}</div>
					 {% endif %}
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-login">{{ entry_login }}</label>
					<div class="col-sm-10">
					  <input type="text" name="module_ecomkassa_login" value="{{ login }}" placeholder="{{ entry_login}}" id="input-login" class="form-control" />
					  {% if error_login %}
					  <div class="text-danger">{{ error_login}}</div>
					  {% endif %}
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-password">{{ entry_password }}</label>
					<div class="col-sm-10">
					  <input type="text" name="module_ecomkassa_password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
					  {% if error_password %}
					  <div class="text-danger">{{ error_password }}</div>
					  {% endif %}
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-shopid">{{ entry_shopid }}</label>
					<div class="col-sm-10">
					  <input type="text" name="module_ecomkassa_shopid" value="{{ shopid }}" placeholder="{{ entry_shopid }}" id="input-shopid" class="form-control" />
					  {% if error_shopid %}
					  <div class="text-danger">{{ error_shopid }}</div>
					  {% endif %}
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-shopid">{{ ecom_entry_check }}</label>
					<div class="col-sm-10">
					   <span class="btn btn-default" role="button" id="btn_check" data-url="{{ check_url }}">{{ ecom_btn_check }}</span>
						<div class="text-info" id="msg_check"></div>
					</div>
				</div>

				<br>
				<br>
				<h3 class="panel-title">{{ ecom_shop }}</h3>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-inn">{{ entry_inn }}*</label>
					<div class="col-sm-10">
					  <input type="text" name="module_ecomkassa_inn" required="required" value="{{ inn }}" placeholder="{{ entry_inn }}" id="input-inn" class="form-control" />
					  {% if error_inn %}
					  <div class="text-danger">{{ error_inn }}</div>
					  {% endif %}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-sno">{{ ecom_tax }}</label>
					<div class="col-sm-10">
			 
					  <select  name="module_ecomkassa_sno" class="form-control"  id="input-sno"/>
							<option value="" {{ sno == '' ? 'selected="selected"' }}>{{ ecom_tax_none }}</option>
							<option value="osn" {{ sno == 'osn' ? 'selected="selected"' }}>{{ ecom_tax_osn }}</option>
							<option value="usn_income" {{ sno == 'usn_income' ? 'selected="selected"' }}>{{ ecom_tax_usn_income }}</option>
							<option value="usn_income_outcome" {{ sno == 'usn_income_outcome' ? 'selected="selected"' }}>{{ ecom_tax_usn_income_outcome }}</option>
							<option value="envd" {{ sno == 'envd' ? 'selected="selected"' }}>{{ ecom_tax_envd }}</option>
							<option value="esn" {{ sno == 'esn' ? 'selected="selected"' }}>{{ ecom_tax_esn }}</option>
							<option value="patent" {{ sno == 'patent' ? 'selected="selected"' }}>{{ ecom_tax_patent }}</option>
							 
					  </select>
				 
					</div>
				  </div>	
				 <div class="form-group">
					<label class="col-sm-2 control-label" for="input-vat">{{ ecom_vat }}</label>
					<div class="col-sm-10">
				 
					  <select  name="module_ecomkassa_vat" class="form-control" id="input-vat"  />
							<option value="none"  {{ vat == 'none' ? 'selected="selected"' }}>{{ ecom_vat_none }}</option>
							<option value="vat0"  {{ vat == 'vat0' ? 'selected="selected"' }}>{{ ecom_vat_vat0 }}</option>
							<option value="vat10"  {{ vat == 'vat10' ? 'selected="selected"' }}>{{ ecom_vat_vat10 }}</option>
							<option value="vat18"  {{ vat == 'vat18' ? 'selected="selected"' }}>{{ ecom_vat_vat18 }}</option>
							<option value="vat20"  {{ vat == 'vat20' ? 'selected="selected"' }}>{{ ecom_vat_vat20 }}</option>
							<option value="vat110"  {{ vat == 'vat110' ? 'selected="selected"' }}>{{ ecom_vat_vat110 }}</option>
							<option value="vat118"  {{ vat == 'vat118' ? 'selected="selected"' }}>{{ ecom_vat_vat118 }}</option>
				 
							 
					  </select>
				 
					</div>
				  </div> 
 
				<br>
				<br>
				<h3 class="panel-title">{{ ecom_payment_systems }}</h3>
				
		 
				 
				 
		 
						{% for key,payment_system in payment_systems %} 
						 
							
					 
							
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-name">{{ payment_system.name }}</label>
									<div class="col-sm-10">
									  
									  <select  name="module_ecomkassa_payment[{{ payment_system.code }}]" class="form-control" />
											<option value="-1">{{ ecom_dont_use }}</option>
												{% for key2,order_status in order_statuses %} 
													 <option  
													{% if module_ecomkassa_payment[payment_system.code] is defined %}
														{% if module_ecomkassa_payment[payment_system.code] == order_status.order_status_id %}
															 selected="selected" 
														{% endif %}
													{% endif %}
													value="{{ order_status.order_status_id }}">{{ order_status.name }}</option> 
												{% endfor %}
									  </select>
								 
									</div>
								  </div> 
							
							
							
							
							
						{% endfor %}
		 
				<br>
				<br>
					<h3 class="panel-title">{{ ecom_status_heading }}</h3>
				  
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
					<div class="col-sm-10">
					  <select name="module_ecomkassa_status" id="input-status" class="form-control">
						 {% if module_ecomkassa_status  == 1 %} 
						<option value="1" selected="selected">{{ text_enabled }}</option>
						<option value="0">{{ text_disabled }}</option>
						{% else %}  
						<option value="1">{{ text_enabled }}</option>
						<option value="0" selected="selected">{{ text_disabled }}</option>
						{% endif %}
					  </select>
					</div>
				  </div>
				
			
			</div><!-- tab-pane -->
			
			<div class="tab-pane" id="tab_about">
				<div class="col-sm-offset-2 col-sm-8">
					<h3>Онлайн-касса E-COM kassa Opencart</h3>
					
					
					<div class="row" style="margin-top:50px;">
						<div class="col-sm-3">
						<a href="www.ecom.ru"><img src="view/image/ecomkassa/ecom.png" class="img-responsive" style="margin:25px;margin-top:0px;max-width:150px;"></a>
						</div>
						<div class="col-sm-9">
						<h4>Разработан по заказу компании E-COM</h4>
						<p>Онлайн-касса для интернет магазинов</p>
						<p><a href="https://www.ecomkassa.ru">www.ecomkassa.ru</a></p>
						<p><a href="mailto:www.ecom.ru">sales@ecomkassa.ru</a></p>
						</div>
					</div>
					
					<div class="row"  style="margin-top:50px;">
						<div class="col-sm-3">
						<a href="mad-studio.ru"><img src="view/image/ecomkassa/mad.png"  class="img-responsive"  style="margin:20px;max-width:150px;"></a>
						</div>
						<div class="col-sm-9">
						<h4>Разработан при поддержке компании MAD-Studio</h4>
						<p>Разработка и поддержка Opencart</p>
						<p><a href="https://mad-studio.ru">mad-studio.ru</a></p>
						<p><a href="mailto:mail@mad-studio.ru">mail@mad-studio.ru</a></p>
						</div>
					</div>
					
					
					
				</div>
			</div><!-- tab-pane -->
			
	 
		</div><!-- tab-content -->
		  
		  
        </form>
      </div>
    </div>
  </div>
</div>
<script>
	$('#btn_check').click(function(){
		
		var url = $(this).data('url');

		$.post(url, { login: $('input[name=module_ecomkassa_login]').val(), pass: $('input[name=module_ecomkassa_password]').val(), url: $('input[name=module_ecomkassa_url]').val() },
		
		
		    function( data ) {	
				$('#msg_check').removeClass('alert-danger');
				$('#msg_check').removeClass('alert-success');
			 
								 
				
					if(data.code>=2){
						$('#msg_check').addClass('alert-danger');
						$('#msg_check').text('Ошибка '+ data.code + ' ' + data.text );
					}else{
						$('#msg_check').addClass('alert-success');
						$('#msg_check').text('Проверка успешна ' );
					}
					console.log(data);
			 
			
			
			
			
			}, 'json');
	
	
	});


</script>
{{ footer }}